input[type="text"] {
  padding: 7px;
  border-radius: 5px;
  border-width: 1px;
}
.input-row {
  margin-bottom: 30px;
}
.input-l {
  width: 300px;
}
.input-m {
  width: 200px;
}
.input-s {
  width: 50px;
}

.textKeyword-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.textKeyword-item {
  background: #ddd;
  box-shadow: 0 1px 3px #f0f0f0;
  border-radius: 5px;
  margin-right: 15px;
  padding: 2px 5px 2px 7px;
  font-size: 0.9rem;
}

.textKeyword-close-btn {
  margin-left: 2px;
  color: #777;
  cursor: pointer;
}
