* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #002200;
  line-height: 1.8;
  padding: 50px 30px 100px;
  background-color: #f5f6f9;
}

.search-step__list {
  width: 800px;
  margin: 0 auto 40px;
}

.search-step__item {
  background-color: #fff;
  padding: 30px 30px 35px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.search-step__item:last-of-type {
  margin-bottom: 0;
}

.search-step__num {
  color: #999999;
  font-size: 16px;
  font-weight: bold;
}

.search-step__ttl {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.search-step__sub-ttl {
  color: #666;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
}

.search-step__input {
  font-size: 18px;
  padding: 15px;
  border: 1px solid #b1b1b1;
  width: 100%;
  border-radius: 5px;
}

.search-step__input::placeholder {
  color: #bbb;
}

.search-step__input.input-keyword {
  margin-bottom: 20px;
}

.search-step__input.input-radius {
  width: 150px;
  margin-right: 8px;
  margin-bottom: 7px;
}

.search-step__unit {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.search-step__range {
  font-size: 14px;
  color: #999;
}

.search-step__info-text {
  font-size: 14px;
  color: #777;
}

.input-row {
  margin-bottom: 30px;
}

.textKeyword-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.textKeyword-item {
  color: #fff;
  border: 2px solid #0077c3;
  border-radius: 100px;
  background: #33aaee;
  margin-right: 12px;
  padding: 3px 9px 3px 16px;
}

.textKeyword-close-btn {
  margin-left: 2px;
  color: #fff;
  cursor: pointer;
}

.search-results__origin-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.search-results__back-box {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-results__back-link {
  cursor: pointer;
  color: #0077c3;
  display: inline-block;
  text-decoration: underline;
}
