.place-checkbox__item {
  width: 24%;
  border: 2px solid #36759c;
  background: #fff;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 767px) {
  .place-checkbox__item {
    width: 49%;
  }

  .place-checkbox__item:nth-of-type(-n + 2) {
    margin-bottom: 5px;
  }
}

.place-checkbox__input {
  display: none;
}

.place-checkbox__label {
  padding: 12px 0;
  display: block;
  transition-duration: 0.2s;
  cursor: pointer;
}

@media (max-width: 424px) {
  .place-checkbox__label {
    font-size: 14px;
  }
}

.place-checkbox__input:checked + .place-checkbox__label {
  color: #fff;
  background: #50b6f1;
}
