.spinner-case {
  margin-top: 60px;
  text-align: center;
  font-size: 60px;
}

.spinner-icon {
  opacity: 0.5;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spinner-text {
  font-size: 18px;
  margin-top: 10px;
}
